<!--
/* @license
 * Copyright 2018 Google Inc. All Rights Reserved.
 * Licensed under the Apache License, Version 2.0 (the 'License');
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an 'AS IS' BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154843422-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154843422-1');
</script>
  <title>Building Augmented</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no,
    minimum-scale=1.0, maximum-scale=1.0">
  <link type="text/css" href="styles/examples.css" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />

  <!-- development version, includes helpful console warnings -->
  <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->

  <!-- production version, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <!-- The following libraries and polyfills are recommended to maximize browser support -->

  <!-- 🚨 REQUIRED: Web Components polyfill to support Edge and Firefox < 63 -->
  <script src="../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

  <!-- 💁 OPTIONAL: Intersection Observer polyfill for better performance in Safari and IE11 -->
  <script src="../node_modules/intersection-observer/intersection-observer.js"></script>

  <!-- 💁 OPTIONAL: Resize Observer polyfill improves resize behavior in non-Chrome browsers -->
  <script src="../node_modules/resize-observer-polyfill/dist/ResizeObserver.js"></script>

  <!-- 💁 OPTIONAL: Fullscreen polyfill is needed to fully support AR features -->
  <script src="../node_modules/fullscreen-polyfill/dist/fullscreen.polyfill.js"></script>

  <!-- 💁 OPTIONAL: The :focus-visible polyfill removes the focus ring for some input types -->
  <script src="../node_modules/focus-visible/dist/focus-visible.js" defer></script>

  <!-- 💁 OPTIONAL: Include prismatic.js for Magic Leap support -->
  <!--<script src="../node_modules/@magicleap/prismatic/prismatic.min.js"></script>-->
  <style>
    #button-load {
      background-image: url(assets/ic_get_app_white_24dp.svg);
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: 6% 50%;
      background-color: #000;
      color: white;
      cursor: pointer;
      border-radius: 6px;
      display: inline-block;
      padding: 10px 18px 9px 40px;
      font-weight: 500;
      box-shadow: 0 0 8px rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,.25);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 100;
    }
    #lazy-load-poster {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url('models/IFC Schependomlaan.jpg');
      background-size: cover;
      background-position: 50% 50%;
    }

    .loader {
        border: 5px solid #ca9c06;
        border-radius: 50%;
        border-top: 5px solid #333;
        width: 25px;
        height: 25px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
  </style>
</head>

<body>

  <div class="sample">
    <div id="demo-container-1" class="demo">
      <model-viewer id="modelView"
      camera-controls
      auto-rotate
      reveal="interaction"
      :src="modelGlb"
      background-color="#222222"
      alt="A 3D model"
      :ios-src="modelUsdz"
      magic-leap
      ar
      unstable-webxr>
      <div id="button-load" slot="poster">Load 3D Model</div>
    </model-viewer>
    </div>
    <div id="content-1" class="content">
      <div class="wrapper">
        <div class="heading">
          <div id="app">
            <h2 class="demo-title">{{ title }}</h2><div class="loader" v-if="showLoader"></div>
            <p>{{ message }}</p>
            <p v-if="!showLoader">
              <input v-on:change="sizeToSmall" type="radio" name="size" value="small" checked> Small<br>
              <input v-on:change="sizeToMedium" type="radio" name="size" value="medium"> Medium<br>
              <input v-on:change="sizeToLarge" type="radio" name="size" value="large"> Large<br>
            </p>
          </div>
          <!-- <h2 class="demo-title">Lazy load with poster until interaction</h2> -->
          <!--<h4>Small size</h4>-->
        </div>
        <example-snippet id="modelViewDiv" stamp-to="demo-container-1" highlight-as="html">
          <template>
<!-- use unique asset to ensure lazy loading -->

          </template>
        </example-snippet>
      </div>
    </div>
  </div>

  <div class="footer">
    <!-- <ul>
      <li class="attribution">
        <a href="https://poly.google.com/view/dLHpzNdygsg">Astronaut</a> by <a href="https://poly.google.com/user/4aEd8rQgKu2">Poly</a>,
        licensed under <a href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a>.
      </li>

      <li class="attribution">
        <a href="https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/DamagedHelmet">Damaged Helmet</a> by <a href="https://sketchfab.com/theblueturtle_">theblueturtle_</a>,
        licensed under <a href="https://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commons Attribution-NonCommercial</a>.
      </li>

      <li class="attribution">
        <a href="https://poly.google.com/view/6uTsH2jqgVn">Shish kebab</a> by <a href="https://poly.google.com/user/4aEd8rQgKu2">Poly</a>,
        licensed under <a href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a>.
      </li>
    </ul> -->

    <div style="margin-top:24px;" class="copyright">© 2019 Building Augmented</div>
    <!-- <div><a href="https://github.com/GoogleWebComponents/model-viewer">Github</a> ∙ <a href="https://model-viewer.glitch.me/">Glitch</a> ∙ <a href="https://github.com/GoogleWebComponents/model-viewer/issues">Bug report</a></div> -->

  </div>

  <script src="./scripts/helpers.js"></script>

  <script src="./scripts/shared.js"></script>

  <script src="./scripts/model.js"></script>

  <!-- Documentation-specific dependencies: -->
  <script type="module" src="./built/dependencies.js">
  </script>
  <script nomodule src="./built/dependencies-legacy.js">
  </script>

  <!-- Loads <model-viewer> only on modern browsers: -->
  <script type="module" src="../dist/model-viewer.js">
  </script>

  <!-- Loads <model-viewer> only on old browsers like IE11: -->
  <script nomodule src="../dist/model-viewer-legacy.js">
  </script>

<!-- Firebase -->

  <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-storage.js"></script>

  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  <script>
    // TODO: Replace the following with your app's Firebase project configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAVZm0c5WaCeQM65-eu-Ii_Xqx98MpE5cM",
      authDomain: "buildingaugmented.firebaseapp.com",
      databaseURL: "https://buildingaugmented.firebaseio.com",
      projectId: "buildingaugmented",
      storageBucket: "buildingaugmented.appspot.com",
      messagingSenderId: "571807230240",
      appId: "1:571807230240:web:4ca2b3243ae75e2d1ecf45",
      measurementId: "G-EG8RGTX4CW"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>

</body>

</html>
